<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Proyecto Web KN</title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="~/StaticFiles/css/boxicons.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/core.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/theme-default.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/demo.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/page-auth.css" />
    <script src="~/StaticFiles/js/helpers.js"></script>
    <script src="~/StaticFiles/js/config.js"></script>
</head>

<body>
    <div class="container-xxl">

        @RenderBody()

    </div>

    <script src="~/StaticFiles/js/jquery.js"></script>
    <script src="~/StaticFiles/js/popper.js"></script>
    <script src="~/StaticFiles/js/bootstrap.js"></script>
    <script src="~/StaticFiles/js/perfect-scrollbar.js"></script>
    <script src="~/StaticFiles/js/menu.js"></script>
    <script src="~/StaticFiles/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>