<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Web - KN</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/app.css">
    <link rel="stylesheet" href="~/Content/auth.css">
</head>

<body>
    <div id="auth">

        @RenderBody()

    </div>
</body>

</html>

